<!doctype html>
<html>

<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch"></script>
</head>

<body>
<!-- USED BY WEBPACK DEV SERVER -->
<div id="app"></div>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script type="text/javascript" src="http://localhost:3000/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
</body>

</html>